<!-- Page Content -->


<div class="container" ng-app="CustomerApp" ng-controller="profileController">
    <div id="InsertModal"  class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Insertion result</h4>
          </div>
          <div class="modal-body" >

            <div ng-show="!insertsuccess">
              <h2>Insertion failed</h2>
            </div>
              <div ng-show="insertsuccess">
              <h2>Insertion succeeded</h2>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type</th>
              <th scope="col">Subtype</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="i in profileinfo">
              <th scope="row">{{ $index+1}}</th>
              <td>{{i.element_type}}</td>
              <td>{{i.element_subtype}}</td>
              <td>{{i.element_value}}</td>
            </tr>
          </tbody>
        </table>

        <div class="card-body">
            <h2>Address</h2>
            <form>
                <br>
                    <input type="text" id="newaddress" name="newaddress" ng-model="address" placeholder="{{placeholder}}"  style="width:500px">
                <br>
            </form>
            <p></p>

            <div class="dropdown">
                <button class="btn  btn-primary dropdown-toggle"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                     {{akind}}
                </button>
                <button class="btn  btn-primary"
                        type="button" ng-click="updateAddress()" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                    Submit
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-click="addressKind($index)" ng-repeat="k in addressKinds" class="dropdown-item">{{k}}</a>
                </div>
            </div>

        </div>
    </div>

    <div class="card text-white bg-secondary my-4">
        <div class="card-body">
            <h2>Telephone</h2>
            <form>
                <br>
                    <input type="text" id="newtelephone" name="newtelephone" ng-model="telephone" placeholder="{{placeholder}}"  style="width:500px">
                <br>
            </form>
            <p></p>
            <div class="dropdown">
                <button class="btn  btn-primary dropdown-toggle"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                     {{telekind}}
                </button>
                <button class="btn  btn-primary"
                        type="button" ng-click="updateTelephone()" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                    Submit
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-click="teleKind($index)" ng-repeat="k in addressKinds" class="dropdown-item">{{k}}</a>
                </div>
            </div>

        </div>
    </div>

    <div class="card text-white bg-secondary my-4">
        <div class="card-body">
            <h2>Email</h2>
            <form>
                <br>
                    <input type="text" id="newemail" name="newemail" ng-model="email" placeholder="{{placeholder}}"  style="width:500px">
                <br>
            </form>
            <p></p>
            <div class="dropdown">
                <button class="btn  btn-primary dropdown-toggle"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                     {{emailkind}}
                </button>
                <button class="btn  btn-primary"
                        type="button" ng-click="updateEmail()" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                    Submit
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-click="emailKind($index)" ng-repeat="k in addressKinds" class="dropdown-item">{{k}}</a>
                </div>
            </div>

        </div>
    </div>

    <div class="card text-white bg-secondary my-4">
        <div class="card-body">
            <h2>Other</h2>
            <form>
                <br>
                    <input type="text" id="newother" name="newother" ng-model="other" placeholder="{{placeholder}}"  style="width:500px">
                <br>
            </form>
            <p></p>
            <div class="dropdown">
                <button class="btn  btn-primary dropdown-toggle"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                     {{otherkind}}
                </button>
                <button class="btn  btn-primary"
                        type="button" ng-click="updateOther()" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                    Submit
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-click="otherKind($index)" ng-repeat="k in addressKinds" class="dropdown-item">{{k}}</a>
                </div>
            </div>

        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div  class="col-md-4 mb-4">
            <div ng-show="!loginRegisterResult"class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Some Latin</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                    <a ng-click="doAddressModal()" class="btn btn-primary">Change Address</a>
                </div>
            </div>
            <div ng-show="loginRegisterResult" class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Create/Update Address</h2>
                    <p class="card-text">
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Two</h2>
                    <p class="card-text">sb</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Three</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->


</div>
<!-- /.container -->